AnyPointStudio/eleventh/src/main/mule/eleventh.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="9270d24f-9833-4ecb-93fb-a20ac0348c25" >
		<file:connection workingDir="C:\demo\input" />
	</file:config>
	<flow name="eleventhfileprocessingFlow" doc:id="02a80f6d-a0d2-4438-8aa5-5cce8eed1b70" >
		<file:listener doc:name="On New or Updated File" doc:id="d62017c3-6eeb-4dd0-871c-5bc634add70b" config-ref="File_Config" directory="C:\demo\input" autoDelete="true" moveToDirectory="C:\demo\output">
			<scheduling-strategy >
				<fixed-frequency frequency="5"/>
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="4ef01bfb-9e95-401d-9fbc-dab91561d469" message="#[payload]"/>
	</flow>
</mule>
