AnyPointStudio/sixth/src/main/mule/sixth.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6e9ff8c1-08cb-4dd0-ad35-2209aea06f65" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="ce4f5e3c-b15c-4f57-8d25-8a8480c771d6" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="sixthFlow" doc:id="86478597-d4d4-4cdf-a5c0-91ac574b8852" >
		<http:listener doc:name="Listener" doc:id="37326c81-6f6f-45e6-b8ea-b4b1e24b55c5" config-ref="HTTP_Listener_config" path="/sixth"/>
		<set-variable value="#[attributes.queryParams.Number1]" doc:name="Set Variable" doc:id="d0ba0f96-8694-4e80-9e5b-b704d6c20565" variableName="var1"/>
		<set-variable value="#[attributes.queryParams.Number2]" doc:name="Set Variable" doc:id="3c62d2a1-936f-4086-a6d4-3b065e34f0ea" variableName="var2"/>
		<ee:transform doc:name="Transform Message" doc:id="f1c8262f-d2e6-4c53-9d47-faa60390899d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Add: {
		ns0#intA: vars.var1 as Number,
		ns0#intB: vars.var2 as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="5fcc2981-6438-4e37-9b2b-aa1e559ff9cf" config-ref="Web_Service_Consumer_Config" operation="Add"/>
		<logger level="INFO" doc:name="Logger" doc:id="c3ef1150-6599-4f99-80e7-315a4f61289b" message="#[payload.body.AddResponse.AddResult]"/>
	</flow>
</mule>
